* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --left-profile-bgcolor: #f0f0f0;
  --white: #ffffff;
  --primary-color: #d50821;
}
body {
  font-family: sans-serif;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #333333;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.profile {
  position: relative;
  display: flex;
}
.profile-left {
  flex: 0 0 30%;
  background: var(--left-profile-bgcolor);
  float: left;
}

.profile-left section {
  padding: 0 1.25rem;
}

.profile-left .top-section,
.profile-right .top-section {
  padding-top: 2.5rem;
}

.profile-right {
  flex: 0 0 70%;
  padding: 0 1.5rem;
  background: #f5fcf3;
}

.profile-right .section-block .heading {
  display: flex;
  border-bottom: 2px solid #333;
}

.profile-left .section-block .heading {
  text-align: center;
}
/* Header start */
header {
  background: #f2ab01;
  padding: 1.5rem 1.25rem;
  color: var(--white);
  border-bottom: 5px solid var(--primary-color);
}

header .profile-name .name {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

header .profile-name .title {
  font-size: 1rem;
  text-transform: capitalize;
  font-style: italic;
  color: #fff;
}

/* Header end */
/* proile name and photo section start */

.proile-name-photo {
  background: #333333;
  color: var(--white);
  text-align: center;
  padding: 0 1.25rem 1.25rem 1.25rem;
  border-radius: 0 0 200px 200px;
  margin-bottom: 2rem;
}

.proile-name-photo .profile-name .name,
.proile-name-photo .profile-name .title {
  text-transform: uppercase;
}

.proile-name-photo .profile-photo img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

/* proile name and photo section end */

/* section Block start */

.section-block {
  position: relative;
}

.section-block .heading {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 3px 0;
  text-transform: uppercase;
  margin: 0.5rem 0;
  letter-spacing: 1px;
}

.section-block .heading .heading-icon { 
  flex: 0 0 5%;
}

.section-block .heading .heading-icon img{
  width: 1rem;
}

.section-block .heading .heading-title {
  flex: 0 0 95%;
}

.section-block .content {
  color: #333333;
  font-size: 0.85rem;
}

/* section Block end */

.heading.icon-heading {
  display: flex;
}

/* contact-me start */
.contact-me .content .list-item {
  display: flex;
  padding: 0.25rem 0;
}
.contact-me .content .list-item-icon img {
  width: 12px;
  margin-right: 0.5rem;
}

.contact-me .content .list-item-content {
  align-self: center;
}
/* contact-me end */

/* reference-list start */

.reference-list .contact-list {
  margin-bottom: 1rem;
}

.reference-list .contact-list .contact-name {
  font-weight: bold;
  color: #f2ab01;
  font-size: 1rem;
}
/* reference-list end */

/* job-experience start */
.job-experience .experience-list {
  margin-bottom: 1rem;
}
.job-experience .experience-title {
  display: flex;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.job-experience .experience-title .role {
  color: #f2ab01;
  text-transform: uppercase;
  flex: 0 0 80%;
}

.job-experience .experience-title .duration {
  flex: 0 0 20%;
  text-align: right;
  color: #737373;
}

.job-experience .experience-title .role .role-description {
  font-style: italic;
  text-transform: none;
  display: block;
  color: #737373;
  font-weight: 400;
}
/* job-experience end */


/* education-list start */

.education .education-list{
  margin-bottom: 1rem;
}

.education .education-list .university {
  font-weight: bold;
  text-transform: uppercase;
  color: #f2ab01;
}

.education .education-list .degree {
  font-weight: bold;
  text-transform: capitalize;
}
/* education-list end */

/* languages-hobbies start */

.languages-hobbies {
  display: flex;
}

.languages-hobbies ul {
  list-style-position: inside;
}

.languages-hobbies .languages {
  flex: 0 0 50%;
}

.languages-hobbies .hobbies {
  flex: 0 0 50%;
}

.languages-hobbies .heading .heading-icon {
  flex: 0 0 10%;
}

.languages-hobbies .heading .heading-title {
  flex: 0 0 90%;
}

/* languages-hobbies End */

/* skills start */
.skills ul {
  list-style-position: inside;
}

.skills .skills-list {
  display: flex;
}

.skills .skills-list .skills-list-item {
  flex: 0 0 50%;
}
/* skills end */

/* location start */

.location .content {
  width: 100%;
}

/* location end */
footer {  
  background: #f2ab01;
  color: #fff;
  text-align: center;
  padding: 1.5rem 1.25rem;
  border-top: 5px solid var(--primary-color);
}

footer ul {
  display: flex;
  list-style: none;
  align-self: center;
  justify-content: center;
  margin-bottom: 1rem;
}

footer ul.social-icons img {
  width: 1rem;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  color: #fff;
  margin-right: 0.5rem;
}
