* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-bg: #f0f0f0;
  --white: #ffffff;
  --primary: #015761; 
  --secondary: #d50821;
  --teritary: #f2ab01; 
  --accent: #333333;
  --main-text: #272829;
  --section-bg: #f5f8fd;
  --tag: #e4edf9;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--main-text);
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.tag {
  background: var(--tag);
  padding: 5px 15px;
}

i {
  margin-right: .5rem;
}

.profile {
  position: relative;
  display: flex;
}
.profile-left {
  flex: 0 0 25%;  
  float: left;
  background: var(--section-bg);
}

.profile-left section {
  padding: 0 1.25rem;
}

.profile-left .top-section,
.profile-right .top-section {
  padding-top: 2.5rem;
}

.profile-right {
  flex: 0 0 75%;
  padding: 0 1.5rem;
  background: var(--white);
}

.profile-right .section-block .heading {
  display: flex;
  border-bottom: 2px solid #333;
}

.profile-left .section-block .heading {
  text-align: center;
}

.profile-left h4{
  display: inline-block;
  color: var(--teritary);
}
/* core Style start */
h1, .h1 {
  color: var(--teritary);
}

h3, .h3 {
  color: var(--primary)
}
h4, .h4 {
  color: var(--secondary);
}

h5, .h5 {
  color: var(--primary);
}
/* core Style end */
/* Header start*/
header {
  background: var(--primary);  
  color: var(--white);
  border-bottom: 5px solid var(--secondary);
}
header .profile-name {
  padding: 1.25rem;
}

header .profile-name .name {
  font-weight: bold;
  text-transform: uppercase;
}

header .profile-name .title {
  text-transform: capitalize;
  font-style: italic;
  color: #fff;
}

/* Header end */
/* proile name and photo section start */

.proile-name-photo { 
  color: var(--white);
  text-align: center;
  padding: 0 1.25rem 1.25rem 1.25rem;  
  margin-bottom: 2rem;
}

.proile-name-photo .profile-name .name,
.proile-name-photo .profile-name .title {
  text-transform: uppercase;
}

.proile-name-photo .profile-photo img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

/* proile name and photo section end */

/* section Block start */

.section-block {
  position: relative;
}

.section-block .heading { 
  color: var(--primary);
  font-weight: bold;
  padding: 3px 0;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  letter-spacing: 1px;
}

.section-block .heading ::after {
  position: absolute;
  width: 100px;
  height: 3px;
  left: 0;
  bottom: 0;
  display: block;
  background: var(--primary);
}

.section-block .heading .heading-icon { 
  flex: 0 0 3%;
}

.section-block .heading .heading-icon i{ 
  font-size: 1.5rem;
}
.section-block .heading .heading-title {
  flex: 0 0 97%;
}


/* section Block end */

.heading.icon-heading {
  display: flex;
}

/* contact-me start */
.contact-me .content .list-item {
  display: flex;
  padding: 0.25rem 0;
}
.contact-me .content .list-item-icon img {
  width: 12px;
  margin-right: 0.5rem;
}

.contact-me .content .list-item-content {
  align-self: center;
}
/* contact-me end */

/* reference-list start */

.reference-list .contact-list {
  margin-bottom: 1rem;
}

.reference-list .contact-list .contact-name {
  font-weight: bold;
  color:  var(--teritary);
}
/* reference-list end */

/* job-experience start */
.job-experience .experience-list {
  margin-bottom: 1rem;
}
.job-experience .experience-title {
  display: flex;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.job-experience .experience-title .role {
  text-transform: uppercase;
  flex: 0 0 80%;
}

.job-experience .experience-title .duration {
  flex: 0 0 20%;
  text-align: right;
  color: #737373;
}

.job-experience .experience-title .role .role-description {
  font-style: italic;
  text-transform: none;
  display: block;
  color: #737373;
  font-weight: 400;
}
/* job-experience end */


/* education-list start */

.education .education-list{
  margin-bottom: 1rem;
}

.education .education-list .university {
  font-weight: bold;
  text-transform: uppercase;
}

.education .education-list .degree {
  font-weight: bold;
  text-transform: capitalize;
}
/* education-list end */

/* languages-hobbies start */

.languages-hobbies {
  display: flex;
}

.languages-hobbies ul {
  list-style-position: inside;
}

.languages-hobbies .languages {
  flex: 0 0 50%;
}

.languages-hobbies .hobbies {
  flex: 0 0 50%;
}

/* languages-hobbies End */

/* skills start */
.skills ul {
  list-style-position: inside;
}

.skills .skills-list {
  display: flex;
}

.skills .skills-list .skills-list-item {
  flex: 0 0 50%;
}
/* skills end */

/* location start */

.location .content {
  width: 100%;
}

/* location end */
footer {  
  background: var(--primary);
  color: #fff;
  text-align: center;
  padding: 1.5rem 1.25rem;
  border-top: 5px solid var(--secondary);
}

footer ul {
  display: flex;
  list-style: none;
  align-self: center;
  justify-content: center;
  margin-bottom: 1rem;
}

footer ul.social-icons img {
  width: 1rem;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 0.5rem;
}
